.PokemonFilter {
	margin: -26px;
	margin-bottom: 5px;
	img {
		cursor: pointer;

		&:hover {
			background: rgba(black, .1);
		}

		// visuals for hidden pokemon
		&.filter-hidden {
			opacity: .3;
			&:hover {
				opacity: .7;
			}
		}
	}

	> .toggles {
		display: flex;
		justify-content: flex-end;
		align-items: center;

		> * {
			display: inline-block;
			padding: 0 6px;
			font-size: 110%;
			vertical-align: center;
		}

		.label {
			margin-right: auto;
			color: #222;
			font-weight: bold;
		}

		a {
			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			color: #222;
			font-weight: bold;
			margin: 5px;
			border-radius: 3px;

			background: rgba(black, .1);
			&:hover {
				background: #259EFF;
				color: white;
			}
		}
	}
}
