.PokemonFilter {
	margin: -26px;
	margin-bottom: 5px;
	img {
		cursor: pointer;

		&:hover {
			background: rgba(black, .1);
		}

		// visuals for hidden pokemon
		&.filter-hidden {
			opacity: .3;
			&:hover {
				opacity: .9;
			}
		}
	}
}
