.PokemonFilter {
	margin: -26px;
	margin-bottom: 5px;
	img {
		cursor: pointer;

		&:hover {
			background: rgba(black, .1);
		}

		// visuals for hidden pokemon
		&.filter-hidden {
			opacity: .3;
			&:hover {
				opacity: .7;
			}
		}
	}

	.pf-box {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-bottom: 3px;

		&.filter-settings {
			margin-top: 3px;

			&.first {
				margin-top: 12px;
			}

			&.last {
				margin-bottom: 16px;
				padding-bottom: 12px;
				border-bottom: 2px solid #ccc;
			}

			label {
				padding: 0 6px;
				line-height: 1.6em;
				margin-bottom: 0;
				cursor: pointer;
				font-weight: normal;
			}
		}

		&.left {
			justify-content: flex-start;
		}

		> * {
			display: inline-block;
			vertical-align: center;
		}

		.pf-title {
			padding: 0 6px;
			font-size: 110%;
			line-height: 1.6em;

			margin-right: auto;
			color: #222;
			font-weight: bold;
			margin-bottom: 0;
			cursor: pointer
		}

		input[type=checkbox] {
			margin: 5px;
			margin-right: 0;
		}

		a.pf-toggle {
			padding: 0 6px;
			font-size: 110%;
			line-height: 1.6em;

			cursor: pointer;
			display: inline-block;
			text-decoration: none;
			color: #222;
			font-weight: bold;
			margin: 5px;
			border-radius: 3px;

			&:last-child {
				margin-right: 0;
			}

			background: rgba(black, .1);
			&:hover {
				background: #259EFF;
				color: white;
			}
		}

		a.pf-slot {
			width: 1.4em;
			height: 1.4em;
			cursor: pointer;

			display: flex;
			align-items: center;
			justify-content: center;

			border-radius: 3px;
			margin: 0 3px;
			text-decoration: none;

			&:last-child {
				margin-right: 0;
			}

			background: rgba(#bd3736, .3);
			color: black;

			&.active, &:hover {
				background: rgba(#bd3736, .8);
				color: white;
			}
		}
	}
}
