.leaflet-marker-icon-wrapper {
  margin-left: -24px !important;
  margin-top: -24px !important; }

.PokemonFilter {
  margin: -26px;
  margin-bottom: 5px; }
  .PokemonFilter label {
    font-weight: normal; }
  .PokemonFilter input[type=checkbox] {
    margin: 0;
    margin-right: .3em;
    vertical-align: middle; }
  .PokemonFilter img {
    cursor: pointer; }
    .PokemonFilter img:hover {
      background: rgba(0, 0, 0, 0.1); }
    .PokemonFilter img.filter-hidden {
      opacity: .3; }
      .PokemonFilter img.filter-hidden:hover {
        opacity: .7; }
  .PokemonFilter .pf-title {
    padding: 0 6px;
    font-size: 110%;
    line-height: 1.6em;
    margin-right: auto;
    color: #222;
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer; }
    .PokemonFilter .pf-title.disabled {
      color: crimson !important; }
  .PokemonFilter .pf-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3px; }
    .PokemonFilter .pf-box.filter-settings {
      margin-top: 3px;
      padding-left: 25px; }
      .PokemonFilter .pf-box.filter-settings.first {
        margin-top: 12px;
        border-top: 2px solid #ccc;
        padding-top: 10px; }
      .PokemonFilter .pf-box.filter-settings.caption {
        font-weight: bold; }
      .PokemonFilter .pf-box.filter-settings.last {
        margin-bottom: 16px;
        padding-bottom: 12px;
        border-bottom: 2px solid #ccc; }
      .PokemonFilter .pf-box.filter-settings label {
        padding: 0 6px;
        line-height: 1.6em;
        margin-bottom: 0;
        cursor: pointer;
        font-weight: normal; }
    .PokemonFilter .pf-box.left {
      justify-content: flex-start; }
    .PokemonFilter .pf-box > * {
      display: inline-block;
      vertical-align: center; }
    .PokemonFilter .pf-box .pf-title {
      padding: 0 6px;
      font-size: 110%;
      line-height: 1.6em;
      margin-right: auto;
      color: #222;
      font-weight: bold;
      margin-bottom: 0;
      cursor: pointer; }
    .PokemonFilter .pf-box input[type=checkbox] {
      margin: 5px;
      margin-right: 0; }
    .PokemonFilter .pf-box a.pf-toggle {
      padding: 0 6px;
      font-size: 110%;
      line-height: 1.6em;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      color: #222;
      font-weight: bold;
      margin: 5px;
      border-radius: 3px;
      background: rgba(0, 0, 0, 0.1); }
      .PokemonFilter .pf-box a.pf-toggle:last-child {
        margin-right: 0; }
      .PokemonFilter .pf-box a.pf-toggle:hover {
        background: #259EFF;
        color: white; }
    .PokemonFilter .pf-box a.pf-slot {
      width: 1.4em;
      height: 1.4em;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      margin: 0 3px;
      text-decoration: none;
      background: rgba(189, 55, 54, 0.3);
      color: black; }
      .PokemonFilter .pf-box a.pf-slot:last-child {
        margin-right: 0; }
      .PokemonFilter .pf-box a.pf-slot.active, .PokemonFilter .pf-box a.pf-slot:hover {
        background: rgba(189, 55, 54, 0.8);
        color: white; }
  .PokemonFilter div.spec-check-element {
    padding: 0 6px;
    line-height: 1.6em;
    display: inline-table;
    color: #222;
    font-weight: bold;
    margin-bottom: 0; }

/*# sourceMappingURL=injected.css.map */
